@using Domain.Modules.Product.Consts
@using Domain.Modules.Product.ViewModels
@using Domain.Modules.Base.Consts
@using Shared.Enums
@using Shared.Web
@using Domain.Modules.Base.Extensions

@model ProductViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.ModuleTitle()</h1>
                </div>
                    <div class="col-sm-6">
                    <a class="btn btn-primary float-right" href="@($"{MyHttpContext.AppBaseUrl}/{ProductConsts.Url}/{OperationEnum.Create.ToString().ToLower()}")">New</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="@Model.FormListName()" method="POST">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="ControllerName" name="ControllerName" value="@Model.ControllerName()" />
                            <div id="messageApplication">
                            </div>
                            <table id="@Model.TableName()" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>CategoryOfProduct</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Modified By</th>
                                        <th>Modified Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Actions</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>CategoryOfProduct</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Modified By</th>
                                        <th>Modified Date</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->