@using Domain.Modules.Product.ViewModels
@using Domain.Modules.Base.Extensions
@using Domain.Modules.Base.Consts
@using Application.Extensions

@model ProductViewModel


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.ModuleTitle()</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div id="messageApplication">
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="#" id="@Model.FormName()">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="ControllerName" name="ControllerName" value="@Model.ControllerName()" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="@nameof(Model.Name)">@nameof(Model.Name)</label>
                                    <input type="text" id="@nameof(Model.Name)" name="@nameof(Model.Name)" value="@Model.Name" placeholder="@nameof(Model.Name)" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(Model.Code)">@nameof(Model.Code)</label>
                                    <input type="text" id="@nameof(Model.Code)" name="@nameof(Model.Code)" value="@Model.Code" placeholder="@nameof(Model.Code)" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(Model.CategoryOfProductId)">@nameof(Model.CategoryOfProductId)</label>
                                    <select id="@nameof(Model.CategoryOfProductId)" name="@nameof(Model.CategoryOfProductId)" class="form-control" data-selector="@Model.CategoryOfProductId"> </select>
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(Model.DateUtc)">@nameof(Model.DateUtc)</label>
                                    <div class="input-group date date-picker-class" id="@nameof(Model.DateUtc)Control" data-target-input="nearest">
                                        <input id="@nameof(Model.DateUtc)" name="@nameof(Model.DateUtc)" type="text" class="form-control datetimepicker-input" data-target="#@nameof(Model.DateUtc)Control" />
                                        <div class="input-group-append" data-target="#@nameof(Model.DateUtc)Control" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(Model.DateTimeUtc)">@nameof(Model.DateTimeUtc)</label>
                                    <div class="input-group date date-time-picker date-time-picker-class" id="@nameof(Model.DateTimeUtc)Control" data-target-input="nearest">
                                        <input id="@nameof(Model.DateTimeUtc)" name="@nameof(Model.DateTimeUtc)" type="text" class="form-control datetimepicker-input" data-target="#@nameof(Model.DateTimeUtc)Control" />
                                        <div class="input-group-append" data-target="#@nameof(Model.DateTimeUtc)Control" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="@nameof(Model.Value)">@nameof(Model.Value)</label>
                                    <input type="text" id="@nameof(Model.Value)" name="@nameof(Model.Value)" value="@Model.Value" placeholder="@nameof(Model.Value)" class="form-control inputmask">
                                </div>
                                <div class="form-group">
                                    @await Html.PartialAsync("~/Views/Shared/Backend/Controls/_RecordStatus.cshtml", Model)
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button id="SaveAndBackButtonName" class="btn btn-success BackToListPage">Save and back</button>
                                <button id="SaveButtonName" class="btn btn-primary">Save</button>
                                <button id="BackButtonName" class="btn btn-info">Back</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

