@using Domain.Modules.CategoryOfProduct.ViewModels
@using Domain.Modules.Base.Extensions
@using Domain.Modules.Base.Consts
@using Web.Mvc.Consts

@model CategoryOfProductViewModel


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.ModuleTitle()</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div id="messageApplication">
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">New</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="#" id="@Model.FormName()">
                            @await Html.PartialAsync(ViewConsts.DataForm, Model)
                            @await Html.PartialAsync(ViewConsts.ButtonsForm, Model)
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="@Model.Name">@nameof(Model.Name)</label>
                                    <input type="text" id="@nameof(Model.Name)" name="@nameof(Model.Name)" value="@Model.Name" placeholder="@nameof(Model.Name)" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="@Model.Code">@nameof(Model.Code)</label>
                                    <input type="text" id="@nameof(Model.Code)" name="@nameof(Model.Code)" value="@Model.Code" placeholder="@nameof(Model.Code)" class="form-control">
                                </div>
                                <div class="form-group">
                                    @await Html.PartialAsync(ViewConsts.RecordStatus, Model)
                                </div>
                            </div>
                            <!-- /.card-body -->
                     
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

